.bg-enter {
    animation: bg-enter ease-out 1s forwards;
}

.scale-graphics {
    animation: scale-graphics ease-out 1s forwards;
}

.scale-column {
    animation: scale-column ease-out 2s forwards;
}

.animate__delay-0-15s {
    animation-delay: 0.15s;
}

.animate__delay-0-25s {
    animation-delay: 0.25s;
}

.animate__delay-0-5s {
    animation-delay: 0.5s;
}

.animate__delay-0-75s {
    animation-delay: 0.75s;
}

.animate__delay-0-75s {
    animation-delay: 0.85s;
}