@keyframes rotateWorld {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(20deg);
    }
}

@keyframes bg-enter {
    0% {
        background-position: 120px center;
    }

    100% {
        background-position: 40px center;
    }
}

@keyframes scale-graphics {
    0% {
        transform: scale(1, 0);
    }

    100% {
        transform: scale(1, 1);
    }
}

@keyframes scale-column {
    0% {
        transform: scale(0, 1);
    }

    100% {
        transform: scale(1, 1);
    }
}