.b {
    fill: currentColor;
}

.aa {
    fill: url(#t);
}

.aa {
    fill: url(#r);
}

.ab {
    fill: var(--orange);
}

.ac {
    fill: var(--green);
}

.ad {
    fill: url(#y);
}

.ae {
    fill: url(#v);
}

.ae,
.af,
.element--overlay,
.ah {
    filter: sepia(100%) hue-rotate(90deg) saturate(900%) opacity(0.2);
}

.ai {
    filter: url(#c);
}

.ai,
.aj,
.ak,
.al {
    fill: #fff;
}

.am {
    fill: url(#u);
}

.an {
    isolation: isolate;
}

.ao {
    fill: url(#m);
}

.ap {
    fill: url(#p);
}

.element {
    cursor: pointer;

    &-text {
        font-size: var(--size-14);
        font-family: $font-2;
        opacity: 0;
        transform: translate(0, 40px);
        transition: $transitionMode;
    }

    &-title {
        font-size: var(--size-28);
        font-family: $font-2;
        text-transform: uppercase;
        font-weight: 900;
        fill: var(--gray-200);
        transition: $transitionMode;

        @include media(md) {
            fill: $c-white;
        }

        &-1 {
            transform: translate(250px, 100px);
        }

        &-2 {
            transform: translate(550px, 100px);
        }

        &-3 {
            transform: translate(245px, 420px);
        }

        &-4 {
            transform: translate(565px, 430px);
        }
    }

    &-btn {
        opacity: 0;
        transition: $transitionMode;

        text {
            font-size: var(--size-16);
            font-family: $font-2;
            font-style: italic;
            fill: $c-white;
            stroke-width: 0;
        }

        &--1 {
            rect {
                fill: var(--pink);
                transition: $transitionMode;
            }

            &:hover {
                rect {
                    fill: var(--pink-hover);
                }
            }
        }

        &--2 {
            rect {
                fill: var(--blue);
                transition: $transitionMode;
            }

            &:hover {
                rect {
                    fill: var(--blue-hover);
                }
            }
        }

        &--3 {
            rect {
                fill: var(--orange);
                transition: $transitionMode;
            }

            &:hover {
                rect {
                    fill: var(--orange-hover);
                }
            }
        }

        &--4 {
            rect {
                fill: var(--green);
                transition: $transitionMode;
            }

            &:hover {
                rect {
                    fill: var(--green-hover);
                }
            }
        }
    }

    &--icon {
        opacity: 0;
        transition: $transitionMode;
        transform: translate(0, -40px);

        &-1 {
            path {
                fill: var(--pink);
            }
        }

        &-2 {
            transform: translate(0, -40px);

            path {
                fill: var(--blue);
            }
        }

        &-3 {
            transform: translate(0, -40px);

            path {
                fill: var(--orange);
            }
        }

        &-4 {
            transform: translate(0, -40px);

            path {
                fill: var(--green);
            }
        }
    }

    &--contInfo {
        fill: $c-white;
        opacity: 0;
        transition: $transitionMode;
        transform: scale(0.9) translate(2%, 2%);
        transform-origin: 200px 200px;
    }

    &--overlay {
        opacity: 0;
        transition: $transitionMode;
        fill: url(#overlay);
        transform: translate(110px, 60px) scale(0.75);
    }

    &--normal-1 {
        fill: url(#status-normal-1);
    }

    &--normal-2 {
        fill: url(#status-normal-2);
    }

    &--normal-3 {
        fill: url(#status-normal-3);
    }

    &--hover {
        opacity: 0;
        transition: $transitionMode;

        @include media(md) {
            opacity: 1;
        }

        &-1 {
            fill: url(#status-hover-1);

        }

        &-2 {
            fill: url(#status-hover-2);

        }

        &-3 {
            fill: url(#status-hover-3);

        }

        &-4 {
            fill: url(#status-hover-4);

        }
    }

    &:hover {
        .element--icon {
            opacity: 1;
            transform: translate(0, 0);

            @include media(md) {
                opacity: 0;
            }
        }

        .element--hover {
            opacity: 1;

            @include media(md) {
                opacity: 0;
            }
        }

        .element--overlay {
            opacity: 1;
            transform: translate(0, 0) scale(1);

            @include media(md) {
                opacity: 0;
            }
        }

        .element--contInfo {
            opacity: 1;
            transform: scale(1) translate(0, 0);

            @include media(md) {
                opacity: 0;
            }
        }

        .element-text {
            opacity: 1;
            transform: translate(0, 0);

            @include media(md) {
                opacity: 0;
            }
        }

        .element-title {
            fill: $c-white;

            @include media(md) {
                fill: currentColor;
            }
        }

        .element-btn {
            opacity: 1;

            @include media(md) {
                opacity: 0;
            }
        }
    }
}

.as {
    fill: url(#e);
}

.ak {
    filter: url(#k);
}

.at {
    fill: url(#s);
}

.au {
    fill: url(#n);
}

.av {
    fill: url(#o);
}

.al {
    filter: url(#w);
}

.ah {
    fill: url(#j);
}

.aw {
    fill: url(#q);
}