%cont__circle {
    padding: 5px 10px;
    border-radius: 10px;
    display: inline-block;
    color: #fff;
    text-decoration: none;
    white-space: nowrap;
    align-items: center;
    font-weight: 500;
    width: auto;
    background-size: 150%;
    background-position: center;
    font-size: var(--size-20);

    @include media(lg) {
        white-space: normal;
        font-size: var(--size-18);
    }

    img {
        width: 25px;
        margin-right: 6px;
    }
}

%circles {
    display: block;
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}