@for $i from 1 through 5 {
    .page-#{$i} {
        min-height: 100vh;
        position: relative;
    }
}

@each $color,
$val in $colorList {
    .color__#{$color} {
        color: var(--#{$color});
    }
}

@each $color,
$val in $colorList {
    .bg__#{$color} {
        background: var(--#{$color});
    }
}

@each $size,
$val in $fontList {
    .font__#{$size} {
        font-size: var(--size-#{$size});
    }
}