$font-1: 'Poppins',
sans-serif;

$font-2: 'Roboto',
sans-serif;

$c-white: #fff;
$c-black: #000;

$colorList: ("pink": #E9304C, "blue":#0433FF, "orange":#EE9215, "green":#6DC571);
$colorList-hover: ("pink": #c20f2a, "blue":#0020b1, "orange":#c17000, "green":#409444);
$color-menu: #EE9508;
$color-gradient-1: #E0662E;
$color-gradient-2: #F2BA08;
$gray: ("100":#4E4E4E, "200":#808080, "300":#BBBBBB, "400":#DEE2E7, "500":#ECF1F6);
$fontList: ("12":0.8rem, "14":0.875rem, "16":1rem, "18":1.125rem, "20":1.25rem, "22":1.375rem, "28":1.75rem, "40":2.5rem, "44":2.75rem, "48":3rem, "70":4.375rem, "80":5rem, "86":5.375rem);
$transitionMode: all ease-in-out .2s;

:root {
    --white: $c-white;
    --black: $c-black;

    @each $size,
    $val in $fontList {
        --size-#{$size}: #{$val};
    }

    @each $color,
    $val in $colorList {
        --#{$color}: #{$val};
    }

    @each $color,
    $val in $colorList-hover {
        --#{$color}-hover: #{$val};
    }

    @each $grad,
    $val in $gray {
        --gray-#{$grad}: #{$val};
    }

    --animate-delay: 0.5s;
    --animate-delay: 0.75s;
    --animate-delay: 0.25s;
}